In [2]:
from scipy import stats
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from numpy import array

main = 'C:/Users/chomjung/Downloads/2020빅콘테스트'
EDA_address = '/EDA_세이버 매트릭스_'
team_hitter = pd.read_csv(main+"/팀타자"+EDA_address+'팀타자.csv')
hitter = pd.read_csv(main+"/개인타자"+EDA_address+'개인타자.csv')

In [2]:
team_hitter.columns

Index(['Unnamed: 0', '게임키', '일자', '팀코드', '상대팀코드', '더블헤더코드', '초말', '타자', '타수',
       '타점', '득점', '안타', '2루타', '3루타', '홈런', '도루', '도루실패', '희타', '희비', '4구',
       '고4', '사구', '삼진', '병살타', '실책', '잔루', '득점권타율', '득점권타수', '득점권안타', '시즌',
       '단타', '출루율', '장타력', 'ops', '타율', 'ISO', 'BABIP', 'BB/K', 'K%', 'BB%'],
      dtype='object')

## spd, wsb 지표 추가

In [2]:
def SPD(row):
    previous = team_hitter[(team_hitter['시즌'] == row['시즌']) & (team_hitter['팀코드'] == row['팀코드']) & (team_hitter['일자'] < row['일자'])]
    if len(previous) == 0:
        row['SPD'] = 0
        return row
    previous_sum = previous.sum()
    try:
        f1 = ((previous_sum['도루']+3)/(previous_sum['도루']+previous_sum['도루실패']+7)-0.4) * 20
        f2 = ((previous_sum['도루']+previous_sum['도루실패'])/(previous_sum['단타']+previous_sum['4구']+previous_sum['사구']))**0.5/0.07
        f3 = previous_sum['3루타']/(previous_sum['타수']-previous_sum['홈런']-previous_sum['삼진'])/ 0.02*10
        f4 = ((previous_sum['득점']-previous_sum['홈런'])/(previous_sum['안타']+previous_sum['4구']-previous_sum['홈런']-previous_sum['사구'])-0.1)/0.04
        f5 = (0.055-previous_sum['병살타']/(previous_sum['타수']-previous_sum['홈런']-previous_sum['삼진']))/0.005
    except ZeroDivisionError:
        row['SPD'] = 0
        return row
    row['SPD'] = (f1+f2+f3+f4+f5) / 5
    return row

def perSPD(row):
    previous = hitter[hitter['선수코드'] == row['선수코드']].copy()
    previous = previous[(previous['시즌'] == row['시즌']) &(previous['일자'] < row['일자'])]
    previous_sum = previous.sum()
    if len(previous) == 0:
        row['SPD'] = 0
        return row
    try:
        f1 = ((previous_sum['도루']+3)/(previous_sum['도루']+previous_sum['도루실패']+7)-0.4) * 20
        f2 = ((previous_sum['도루']+previous_sum['도루실패'])/(previous_sum['단타']+previous_sum['4구']+previous_sum['사구']))**0.5/0.07
        f3 = previous_sum['3루타']/(previous_sum['타수']-previous_sum['홈런']-previous_sum['삼진'])/ 0.02*10
        f4 = ((previous_sum['득점']-previous_sum['홈런'])/(previous_sum['안타']+previous_sum['4구']-previous_sum['홈런']-previous_sum['사구'])-0.1)/0.04
        f5 = (0.055-previous_sum['병살타']/(previous_sum['타수']-previous_sum['홈런']-previous_sum['삼진']))/0.005
    except ZeroDivisionError:
        row['SPD'] = 0
        return row
    row['SPD'] = (f1+f2+f3+f4+f5) / 5   
    return row
team_hitter = team_hitter.apply(SPD, axis=1)

In [3]:
hitter = hitter.apply(perSPD, axis=1)

In [10]:
team_hitter.to_csv("./EDA3-팀타자_세이버 매트릭스_합본.csv", encoding='utf-8-sig')

In [7]:
hitter.to_csv("./EDA3-개인타자_세이버 매트릭스_합본찐2.csv", encoding='utf-8-sig')

In [8]:
def wSB(row):
    previous = team_hitter[(team_hitter['시즌'] == row['시즌']) & (team_hitter['팀코드'] == row['팀코드']) & (team_hitter['일자'] < row['일자'])]
    previous2 = team_hitter[(team_hitter['시즌'] == row['시즌']) & (team_hitter['일자'] < row['일자'])]
    if len(previous) == 0:
        row['wSB'] = 0
        return row
    previous2_sum = previous2.sum()
    previous_sum = previous.sum()
    try:
        lgwSB = (previous2_sum['도루']*0.2+previous2_sum['도루실패']*0.4)/(previous2_sum['단타']+previous2_sum['4구']+previous2_sum['사구']-previous2_sum['고4'])
    except ZeroDivisionError:
        row['wSB'] = 0
        return row
    row['wSB'] = previous_sum['도루']*0.2+previous_sum['도루실패']*0.4 - lgwSB*(previous_sum['단타']+previous_sum['4구']+previous_sum['사구']-previous_sum['고4'])
    return row

In [9]:
team_hitter = team_hitter.apply(wSB, axis=1)

# 합본 과정

In [29]:
team = pd.read_csv('C:/Users/chomjung/OneDrive - 명지대학교/빅콘테스트2020/데이터 전처리/EDA6_팀타자_세이버 매트릭스2_합본 (1).csv')
per = pd.read_csv('C:/Users/chomjung/OneDrive - 명지대학교/빅콘테스트2020/EDA 개인타자 최종.csv')

team2 = pd.read_csv('C:/Users/chomjung/OneDrive - 명지대학교/빅콘테스트2020/EDA3-팀타자_세이버 매트릭스_합본.csv')
per2 = pd.read_csv('C:/Users/chomjung/OneDrive - 명지대학교/빅콘테스트2020/EDA3-개인타자_세이버 매트릭스_합본.csv')
team

,게임키,일자,팀코드,상대팀코드,더블헤더코드,초말,타자,타수,타점,득점,...,BB/K,K%,BB%,wOBA,wRAA,wRC,GPA,HR%,RC,RC27
0,20160401HHLG0,2016-04-01,LG,HH,0,B,47,42,4,5,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,20160401HHLG0,2016-04-01,HH,LG,0,T,52,46,4,4,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,20160401HTNC0,2016-04-01,NC,HT,0,B,36,30,5,5,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,20160401HTNC0,2016-04-01,HT,NC,0,T,38,34,3,4,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,20160401KTSK0,2016-04-01,SK,KT,0,B,36,36,4,4,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6395,20200719LTSS0,2020-07-19,LT,SS,0,T,31,29,2,2,...,0.559367,0.157720,0.084478,0.340581,-9.244490,174.281397,0.255807,0.021640,292.073106,4.767820
6396,20200719OBHT0,2020-07-19,HT,OB,0,B,38,32,4,4,...,0.548469,0.167164,0.089979,0.350847,11.912901,190.645202,0.263185,0.028145,300.650886,5.079833
6397,20200719OBHT0,2020-07-19,OB,HT,0,T,41,37,8,8,...,0.625683,0.143473,0.086633,0.367820,50.648229,245.359152,0.277752,0.023912,361.204279,5.750304
6398,20200719WOSK0,2020-07-19,SK,WO,0,B,37,30,3,4,...,0.451193,0.191286,0.082988,0.310297,-72.776044,111.206375,0.231974,0.023237,239.381869,3.718821
6399,20200719WOSK0,2020-07-19,WO,SK,0,T,37,33,3,3,...,0.581781,0.187792,0.106921,0.357754,28.517858,224.674465,0.269592,0.028771,348.338783,5.468109

In [30]:
team2 = team2[['SPD']]
per2 = per2[['SPD']]

In [31]:
team = pd.concat([team,team2], axis=1)
per = pd.concat([per,per2],axis=1)
team

,게임키,일자,팀코드,상대팀코드,더블헤더코드,초말,타자,타수,타점,득점,...,K%,BB%,wOBA,wRAA,wRC,GPA,HR%,RC,RC27,SPD
0,20160401HHLG0,2016-04-01,LG,HH,0,B,47,42,4,5,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,20160401HHLG0,2016-04-01,HH,LG,0,T,52,46,4,4,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,20160401HTNC0,2016-04-01,NC,HT,0,B,36,30,5,5,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,20160401HTNC0,2016-04-01,HT,NC,0,T,38,34,3,4,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,20160401KTSK0,2016-04-01,SK,KT,0,B,36,36,4,4,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6395,20200719LTSS0,2020-07-19,LT,SS,0,T,31,29,2,2,...,0.157720,0.084478,0.340581,-9.244490,174.281397,0.255807,0.021640,292.073106,4.767820,4.490025
6396,20200719OBHT0,2020-07-19,HT,OB,0,B,38,32,4,4,...,0.167164,0.089979,0.350847,11.912901,190.645202,0.263185,0.028145,300.650886,5.079833,3.835947
6397,20200719OBHT0,2020-07-19,OB,HT,0,T,41,37,8,8,...,0.143473,0.086633,0.367820,50.648229,245.359152,0.277752,0.023912,361.204279,5.750304,4.500252
6398,20200719WOSK0,2020-07-19,SK,WO,0,B,37,30,3,4,...,0.191286,0.082988,0.310297,-72.776044,111.206375,0.231974,0.023237,239.381869,3.718821,4.064786
6399,20200719WOSK0,2020-07-19,WO,SK,0,T,37,33,3,3,...,0.187792,0.106921,0.357754,28.517858,224.674465,0.269592,0.028771,348.338783,5.468109,5.753351

In [40]:
team.to_csv("./EDA3-팀타자_세이버 매트릭스_합본찐.csv", encoding='utf-8-sig')

## 지표추가

In [5]:
def XR(row):
    previous = team_hitter[(team_hitter['시즌'] == row['시즌']) & (team_hitter['팀코드'] == row['팀코드']) & (team_hitter['일자'] < row['일자'])]
    if len(previous) == 0:
        row['XR'] = 0
        return row
    previous_sum = previous.sum()
    try:
        Y1 = 0.5*previous_sum['단타']+0.72*previous_sum['2루타']+1.04*previous_sum['3루타']+1.44*previous_sum['홈런']
        Y2 = (previous_sum['사구']+previous_sum['4구']-previous_sum['고4'])*0.34+0.25*previous_sum['고4']+0.18*previous_sum['도루']-0.32*previous_sum['도루실패']
        Y3 = -(previous_sum['타수']-previous_sum['안타']-previous_sum['삼진'])*0.09-0.098*previous_sum['삼진']-0.37*previous_sum['병살타']+0.37*previous_sum['희비']+0.04*previous_sum['희타']
    except ZeroDivisionError:
        row['XR'] = 0
        return row
    row['XR'] = Y1+Y2+Y3
    return row

def perXR(row):
    previous = hitter[hitter['선수코드'] == row['선수코드']].copy()
    previous = previous[(previous['시즌'] == row['시즌']) &(previous['일자'] < row['일자'])]
    previous_sum = previous.sum()
    if len(previous) == 0:
        row['XR'] = 0
        return row
    try:
        Y1 = 0.5*previous_sum['단타']+0.72*previous_sum['2루타']+1.04*previous_sum['3루타']+1.44*previous_sum['홈런']
        Y2 = (previous_sum['사구']+previous_sum['4구']-previous_sum['고4'])*0.34+0.25*previous_sum['고4']+0.18*previous_sum['도루']-0.32*previous_sum['도루실패']
        Y3 = -(previous_sum['타수']-previous_sum['안타']-previous_sum['삼진'])*0.09-0.098*previous_sum['삼진']-0.37*previous_sum['병살타']+0.37*previous_sum['희비']+0.04*previous_sum['희타']
    except ZeroDivisionError:
        row['XR'] = 0
        return row
    row['XR'] = Y1+Y2+Y3 
    return row

In [3]:
team_hitter = team_hitter.apply(XR, axis=1)

In [6]:
hitter = hitter.apply(perXR, axis=1)

,Unnamed: 0,게임키,일자,팀코드,상대팀코드,더블헤더코드,초말,타자,타수,타점,...,출루율,장타력,ops,타율,ISO,BABIP,BB/K,K%,BB%,XR
0,0,20160401HHLG0,2016-04-01,LG,HH,0,B,47,42,4,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000
1,1,20160401HHLG0,2016-04-01,HH,LG,0,T,52,46,4,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000
2,2,20160401HTNC0,2016-04-01,NC,HT,0,B,36,30,5,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000
3,3,20160401HTNC0,2016-04-01,HT,NC,0,T,38,34,3,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000
4,4,20160401KTSK0,2016-04-01,SK,KT,0,B,36,36,4,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6395,635,20200719LTSS0,2020-07-19,LT,SS,0,T,31,29,2,...,0.344885,0.402433,0.747318,0.275152,0.127281,0.310545,0.559367,0.157720,0.084478,298.168
6396,636,20200719OBHT0,2020-07-19,HT,OB,0,B,38,32,4,...,0.350258,0.422276,0.772534,0.276029,0.146247,0.310727,0.548469,0.167164,0.089979,302.194
6397,637,20200719OBHT0,2020-07-19,OB,HT,0,T,41,37,8,...,0.369847,0.445285,0.815132,0.302491,0.142794,0.333154,0.625683,0.143473,0.086633,364.052
6398,638,20200719WOSK0,2020-07-19,SK,WO,0,B,37,30,3,...,0.315240,0.360465,0.675705,0.243256,0.117209,0.283718,0.451193,0.191286,0.082988,246.632
6399,639,20200719WOSK0,2020-07-19,WO,SK,0,T,37,33,3,...,0.357254,0.435310,0.792564,0.271788,0.163522,0.313090,0.581781,0.187792,0.106921,358.756

In [44]:
team_hitter.to_csv("./EDA3-팀타자_세이버 매트릭스_합본8_25.csv", encoding='utf-8-sig')

In [35]:
team_hitter = team_hitter[['XR']]

In [36]:
team = pd.concat([team,team_hitter], axis=1)

In [13]:
final = pd.read_csv("./EDA3-개인타자_세이버 매트릭스_합본찐2.csv")

In [14]:
final = final[['SPD','XR']]

In [15]:
per = pd.read_csv("./EDA6-개인타자_세이버 매트릭스2_합본.csv")
per = pd.concat([per,final], axis=1)

In [20]:
per.to_csv("./최종.csv",encoding = 'utf-8-sig')