<a href="https://colab.research.google.com/github/CHO-MINJUNG/BigContest2020/blob/master/%EB%B3%80%EC%88%98_%EC%83%9D%EC%84%B1_%EC%83%81%EB%8C%80_%EC%B5%9C%EA%B7%BC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [1]:
from google.colab import auth
auth.authenticate_user()

from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/gdrive

In [ ]:
teamhitter_vs = pd.read_csv('./gdrive/My Drive/빅콘테스트2020/1차_최종_데이터/1차_최종_상대_팀타자.csv', encoding='utf-8-sig')
teampitcher_vs = pd.read_csv('./gdrive/My Drive/빅콘테스트2020/1차_최종_데이터/1차_최종_상대_팀투수.csv', encoding='utf-8-sig')

In [ ]:
teamhitter_vs = teamhitter_vs[teamhitter_vs['득점']<=15]
teamhitter_vs = teamhitter_vs.drop(labels = ['상대OBP',
       '상대SLG', '상대OPS', '상대GPA', '상대타율', '상대ISO', '상대BABIP', '상대HR%', '상대K%',
       '상대BB%', '상대BBK', '상대wOBA', '상대wRAA', '상대wRC', '상대RC', '상대RC27', '상대XR',
       '상대SPD', '상대SECA', '상대PSN'], axis=1)

In [ ]:
teamhitter_vs.columns

Index(['게임키', '일자', '팀코드', '상대팀코드', '더블헤더코드', '초말', '타자', '타수', '타점', '득점',
       '안타', '2루타', '3루타', '홈런', '도루', '도루실패', '희타', '희비', '4구', '고4', '사구',
       '삼진', '병살타', '실책', '잔루', '득점권타율', '득점권타수', '득점권안타', '시즌', '단타'],
      dtype='object')

In [ ]:
def runBaseP(row):
    previous = teamhitter_vs[(teamhitter_vs['시즌'] == row['시즌']) & (teamhitter_vs['팀코드'] == row['팀코드']) & (teamhitter_vs['상대팀코드'] == row['상대팀코드']) & (teamhitter_vs['일자'] < row['일자'])].tail(3)
    if len(previous) == 0:
        row['상대최근OBP'] = 0
        return row
    previous_sum = previous.sum()
    up = previous_sum['안타'] + previous_sum['4구']  + previous_sum['사구']
    down = previous_sum['사구'] + previous_sum['타수'] + previous_sum['4구'] + previous_sum['희비']
    if down == 0:
        row['상대최근OBP'] = 0
        return row
    row['상대최근OBP'] = up / down
    return row

def longHitP(row):
    previous = teamhitter_vs[(teamhitter_vs['시즌'] == row['시즌']) & (teamhitter_vs['팀코드'] == row['팀코드']) & (teamhitter_vs['상대팀코드'] == row['상대팀코드']) & (teamhitter_vs['일자'] < row['일자'])].tail(3)
    if len(previous) == 0:
        row['상대최근SLG'] = 0
        return row
    previous_sum = previous.sum()
    up = previous_sum['단타'] * 1 + previous_sum['2루타'] * 2 + previous_sum['3루타'] * 3 + previous_sum['홈런'] * 4
    down = previous_sum['타수']
    if down == 0:
        row['상대최근SLG'] = 0
        return row
    row['상대최근SLG'] = up / down

    return row
def hitP(row):
    previous = teamhitter_vs[(teamhitter_vs['시즌'] == row['시즌']) & (teamhitter_vs['팀코드'] == row['팀코드']) & (teamhitter_vs['상대팀코드'] == row['상대팀코드']) & (teamhitter_vs['일자'] < row['일자'])].tail(3)
    if len(previous) == 0:
        row['상대최근타율'] = 0
        return row
    previous_sum = previous.sum()
    up = previous_sum['안타']
    down = previous_sum['타수']
    if down == 0:
        row['상대최근타율'] = 0
        return row
    row['상대최근타율'] = up / down
    return row

def createBABIP(row):
  previous = teamhitter_vs[(teamhitter_vs['시즌'] == row['시즌']) & (teamhitter_vs['팀코드'] == row['팀코드']) & (teamhitter_vs['상대팀코드'] == row['상대팀코드']) & (teamhitter_vs['일자'] < row['일자'])].tail(3)
  if len(previous) == 0:
      row['상대최근BABIP'] = 0
      return row
  previous_sum = previous.sum()
  up = previous_sum['안타'] - previous_sum['홈런']
  down = previous_sum['타수'] - previous_sum['홈런'] - previous_sum['삼진'] + previous_sum['희비']
  if down == 0:
      row['상대최근BABIP'] = 0
      return row
  row['상대최근BABIP'] = up / down
  return row

def createBBK(row):
    previous = teamhitter_vs[(teamhitter_vs['시즌'] == row['시즌']) & (teamhitter_vs['팀코드'] == row['팀코드']) & (teamhitter_vs['상대팀코드'] == row['상대팀코드']) & (teamhitter_vs['일자'] < row['일자'])].tail(3)
    if len(previous) == 0:
        row['상대최근BB/K'] = 0
        return row
    previous_sum = previous.sum()
    up = previous_sum['4구']
    down = previous_sum['삼진']
    if down == 0:
        row['상대최근BB/K'] = 0
        return row
    row['상대최근BB/K'] = up / down
    return row

def createK_BB(row):
    previous = teamhitter_vs[(teamhitter_vs['시즌'] == row['시즌']) & (teamhitter_vs['팀코드'] == row['팀코드']) & (teamhitter_vs['상대팀코드'] == row['상대팀코드']) & (teamhitter_vs['일자'] < row['일자'])].tail(3)
    if len(previous) == 0:
        row['상대최근K%'] = 0
        row['상대최근BB%'] = 0
        return row
    previous_sum = previous.sum()
    up_k = previous_sum['삼진']
    up_BB = previous_sum['4구'] - previous_sum['고4']
    down = previous_sum['타자'] - previous_sum['고4']
    if down == 0:
        row['상대최근K%'] = 0
        row['상대최근BB%'] = 0
        return row
    row['상대최근K%'] = up_k / down
    row['상대최근BB%'] = up_BB / down
    return row

In [ ]:
teamhitter_vs = teamhitter_vs.apply(runBaseP,axis=1)
teamhitter_vs = teamhitter_vs.apply(longHitP,axis=1)
teamhitter_vs['상대최근ops'] = teamhitter_vs['상대최근OBP'] + teamhitter_vs['상대최근SLG']
teamhitter_vs = teamhitter_vs.apply(hitP,axis=1)
teamhitter_vs['상대최근ISO'] = teamhitter_vs['상대최근SLG'] - teamhitter_vs['상대최근타율']
teamhitter_vs = teamhitter_vs.apply(createBABIP,axis=1)
teamhitter_vs = teamhitter_vs.apply(createBBK,axis=1)
teamhitter_vs = teamhitter_vs.apply(createK_BB,axis=1)

In [ ]:
c_dic = {2020: [0.730, 0.759,	0.938, 1.284,	1.595,	1.959],
         2019: [0.721,	0.752,	0.945,	1.317,	1.653,	2.074],
         2018: [0.726,	0.753,	0.920,	1.242,	1.533,	1.857],
         2017: [0.728,	0.756,	0.927,	1.259,	1.558,	1.901],
         2016: [0.747,	0.774,	0.944,	1.273,	1.569,	1.898]}

c_dic2 = {2020: [0.345,	1.153, 4328, 56881],
         2019: [0.335,	1.242, 6548, 55612],
         2018: [0.351,	1.075, 7994, 56903],
         2017: [0.351,	1.107, 7682, 56881],
         2016: [0.362,	1.097, 8074, 57614]}

In [ ]:
teamhitter_vs

                게임키          일자 팀코드  ...  상대최근BB/K    상대최근K%   상대최근BB%
0     20160401HHLG0  2016-04-01  LG  ...  0.000000  0.000000  0.000000
1     20160401HHLG0  2016-04-01  HH  ...  0.000000  0.000000  0.000000
2     20160401HTNC0  2016-04-01  NC  ...  0.000000  0.000000  0.000000
3     20160401HTNC0  2016-04-01  HT  ...  0.000000  0.000000  0.000000
4     20160401KTSK0  2016-04-01  SK  ...  0.000000  0.000000  0.000000
...             ...         ...  ..  ...       ...       ...       ...
6395  20200719LTSS0  2020-07-19  LT  ...  0.714286  0.119658  0.085470
6396  20200719OBHT0  2020-07-19  HT  ...  0.923077  0.119266  0.100917
6397  20200719OBHT0  2020-07-19  OB  ...  0.916667  0.103448  0.094828
6398  20200719WOSK0  2020-07-19  SK  ...  0.416667  0.216216  0.090090
6399  20200719WOSK0  2020-07-19  WO  ...  0.730769  0.206349  0.150794

[6331 rows x 39 columns]

In [ ]:
def createwOBA(row):
    previous = teamhitter_vs[(teamhitter_vs['시즌'] == row['시즌']) & (teamhitter_vs['팀코드'] == row['팀코드'])& (teamhitter_vs['상대팀코드'] == row['상대팀코드']) & (teamhitter_vs['일자'] < row['일자'])].tail(3)
    if len(previous) == 0:
        row['상대최근wOBA'] = 0
        return row
    previous_sum = previous.sum()
    ct = c_dic[row['시즌']]
    up = (ct[0] * (previous_sum['4구'] - previous_sum['고4']) + ct[1] * previous_sum['사구'] + ct[2] * previous_sum['단타'] + ct[3] * previous_sum['2루타'] + ct[4] * previous_sum['3루타'] + ct[5] * previous_sum['홈런'] )
    down = (previous_sum['타수'] + previous_sum['4구'] - previous_sum['고4'] + previous_sum['사구'] + previous_sum['희비'])
    if down == 0:
        row['상대최근wOBA'] = 0
        return row
    row['상대최근wOBA'] = up / down
    return row

def createwRAA(row):
    previous = teamhitter_vs[(teamhitter_vs['시즌'] == row['시즌']) & (teamhitter_vs['팀코드'] == row['팀코드'])& (teamhitter_vs['상대팀코드'] == row['상대팀코드']) & (teamhitter_vs['일자'] < row['일자'])].tail(3)
    if len(previous) == 0:
        row['상대최근wRAA'] = 0
        return row
    previous_sum = previous.sum()
    ct = c_dic2[row['시즌']]
    up = row['상대최근wOBA'] - ct[0]
    down = ct[1]
    row['상대최근wRAA'] = up / down * previous_sum['타자']
    return row

def createwRC(row):
    previous = teamhitter_vs[(teamhitter_vs['시즌'] == row['시즌']) & (teamhitter_vs['팀코드'] == row['팀코드'])& (teamhitter_vs['상대팀코드'] == row['상대팀코드']) & (teamhitter_vs['일자'] < row['일자'])].tail(3)
    if len(previous) == 0:
        row['상대최근wRC'] = 0
        return row
    previous_sum = previous.sum()
    ct = c_dic2[row['시즌']]
    up = ct[2]
    down = ct[3]
    row['상대최근wRC'] = (up / down) * previous_sum['타자'] + row['상대최근wRAA']
    return row

def createHR(row):
    previous = teamhitter_vs[(teamhitter_vs['시즌'] == row['시즌']) & (teamhitter_vs['팀코드'] == row['팀코드'])& (teamhitter_vs['상대팀코드'] == row['상대팀코드']) & (teamhitter_vs['일자'] < row['일자'])].tail(3)
    if len(previous) == 0:
        row['상대최근HR%'] = 0
        return row
    previous_sum = previous.sum()
    up_hr = previous_sum['홈런']
    down = previous_sum['타자'] - previous_sum['고4']
    if down == 0:
        row['상대최근HR%'] = 0
        return row
        
    row['상대최근HR%'] = up_hr / down
    return row

In [ ]:
teamhitter_vs = teamhitter_vs.apply(createwOBA, axis=1)
teamhitter_vs = teamhitter_vs.apply(createwRAA, axis=1)
teamhitter_vs = teamhitter_vs.apply(createwRC, axis=1)
teamhitter_vs = teamhitter_vs.apply(createHR, axis=1)
teamhitter_vs['상대최근GPA'] = (1.8 * teamhitter_vs['상대최근OBP'] + teamhitter_vs['상대최근SLG']) / 4

In [ ]:
def createRC(row):
    previous = teamhitter_vs[(teamhitter_vs['시즌'] == row['시즌']) & (teamhitter_vs['팀코드'] == row['팀코드'])& (teamhitter_vs['상대팀코드'] == row['상대팀코드']) & (teamhitter_vs['일자'] < row['일자'])].tail(3)
    if len(previous) == 0:
        row['상대최근RC'] = 0
        return row
    previous_sum = previous.sum()
    upA = previous_sum['안타']+previous_sum['4구']-previous_sum['도루실패']+previous_sum['사구']-previous_sum['병살타']
    upB = (previous_sum['단타']*1.125)+(1.69*previous_sum['2루타'])+(3.02*previous_sum['3루타'])+(3.73*previous_sum['홈런'])+ 0.29*(previous_sum['4구']-previous_sum['고4']+previous_sum['사구'])
    down = previous_sum['타수']+previous_sum['4구']+previous_sum['사구']+previous_sum['희비']+previous_sum['희타']
    if down == 0:
        row['상대최근RC'] = 0
        return row
    row['상대최근RC'] = ((2.4*down+upA)*(3*down+upB)/(9*down)) - (0.9*down)
    
    return row

def createRC27(row):
    previous = teamhitter_vs[(teamhitter_vs['시즌'] == row['시즌']) & (teamhitter_vs['팀코드'] == row['팀코드'])& (teamhitter_vs['상대팀코드'] == row['상대팀코드']) & (teamhitter_vs['일자'] < row['일자'])].tail(3)   
    if len(previous) == 0:
        row['상대최근RC27'] = 0
        return row
    previous_sum = previous.sum()
    down = previous_sum['타수'] - previous_sum['안타']+previous_sum['병살타']+previous_sum['도루실패']+previous_sum['희타']+previous_sum['희비']
    if down == 0:
        row['상대최근RC27'] = 0
        return row
    row['상대최근RC27'] = (row['상대최근RC']/down)*27
    
    return row

In [ ]:
teamhitter_vs = teamhitter_vs.apply(createRC, axis=1)
teamhitter_vs = teamhitter_vs.apply(createRC27, axis=1)

In [ ]:
def XR(row):
    previous = teamhitter_vs[(teamhitter_vs['시즌'] == row['시즌']) & (teamhitter_vs['팀코드'] == row['팀코드'])& (teamhitter_vs['상대팀코드'] == row['상대팀코드']) & (teamhitter_vs['일자'] < row['일자'])].tail(3)
    if len(previous) == 0:
        row['상대최근XR'] = 0
        return row
    previous_sum = previous.sum()
    try:
        Y1 = 0.5*previous_sum['단타']+0.72*previous_sum['2루타']+1.04*previous_sum['3루타']+1.44*previous_sum['홈런']
        Y2 = (previous_sum['사구']+previous_sum['4구']-previous_sum['고4'])*0.34+0.25*previous_sum['고4']+0.18*previous_sum['도루']-0.32*previous_sum['도루실패']
        Y3 = -(previous_sum['타수']-previous_sum['안타']-previous_sum['삼진'])*0.09-0.098*previous_sum['삼진']-0.37*previous_sum['병살타']+0.37*previous_sum['희비']+0.04*previous_sum['희타']
    except ZeroDivisionError:
        row['상대최근XR'] = 0
        return row
    row['상대최근XR'] = Y1+Y2+Y3
    return row

def SPD(row):
    previous = teamhitter_vs[(teamhitter_vs['시즌'] == row['시즌']) & (teamhitter_vs['팀코드'] == row['팀코드'])& (teamhitter_vs['상대팀코드'] == row['상대팀코드']) & (teamhitter_vs['일자'] < row['일자'])].tail(3)
    if len(previous) == 0:
        row['상대최근SPD'] = 0
        return row
    previous_sum = previous.sum()
    try:
        f1 = ((previous_sum['도루']+3)/(previous_sum['도루']+previous_sum['도루실패']+7)-0.4) * 20
        f2 = ((previous_sum['도루']+previous_sum['도루실패'])/(previous_sum['단타']+previous_sum['4구']+previous_sum['사구']))**0.5/0.07
        f3 = previous_sum['3루타']/(previous_sum['타수']-previous_sum['홈런']-previous_sum['삼진'])/ 0.02*10
        f4 = ((previous_sum['득점']-previous_sum['홈런'])/(previous_sum['안타']+previous_sum['4구']-previous_sum['홈런']-previous_sum['사구'])-0.1)/0.04
        f5 = (0.055-previous_sum['병살타']/(previous_sum['타수']-previous_sum['홈런']-previous_sum['삼진']))/0.005
    except ZeroDivisionError:
        row['상대최근SPD'] = 0
        return row
    row['상대최근SPD'] = (f1+f2+f3+f4+f5) / 5
    return row

In [ ]:
teamhitter_vs = teamhitter_vs.apply(XR, axis=1)
teamhitter_vs = teamhitter_vs.apply(SPD, axis=1)

In [ ]:
def SecA(row):
    previous = teamhitter_vs[(teamhitter_vs['시즌'] == row['시즌']) & (teamhitter_vs['팀코드'] == row['팀코드'])& (teamhitter_vs['상대팀코드'] == row['상대팀코드']) & (teamhitter_vs['일자'] < row['일자'])].tail(3)
    if len(previous) == 0:
        row['상대최근SecA'] = 0
        return row
    previous_sum = previous.sum()
    up = previous_sum['4구']+(previous_sum['2루타']+previous_sum['3루타']*2+previous_sum['홈런']*3)+previous_sum['도루']-previous_sum['도루실패']
    down = previous_sum['타수']
    if down == 0:
        row['상대최근SecA'] = 0
        return row
    row['상대최근SecA'] = up/down
    return 
    
def psn(row):
    previous = teamhitter_vs[(teamhitter_vs['시즌'] == row['시즌']) & (teamhitter_vs['팀코드'] == row['팀코드'])& (teamhitter_vs['상대팀코드'] == row['상대팀코드']) & (teamhitter_vs['일자'] < row['일자'])].tail(3)
    if len(previous) == 0:
        row['상대최근PSN'] = 0
        return row
    previous_sum = previous.sum()
    try:
        psn = 2*(previous_sum["홈런"]*previous_sum["도루"])/(previous_sum["홈런"]+previous_sum["도루"])
    except ZeroDivisionError:
        psn = 0
    row['상대최근PSN']= psn
    return row

In [ ]:
teamhitter_vs = teamhitter_vs.apply(SecA, axis=1)

In [ ]:
teamhitter_vs = teamhitter_vs.apply(psn, axis=1)

In [ ]:
teamhitter_vs.to_csv('./gdrive/My Drive/빅콘테스트2020/2차_최종_최근_상대_팀타자.csv', encoding='utf-8-sig', index=False)

In [ ]:
teamhitter_vs = pd.read_csv('./gdrive/My Drive/빅콘테스트2020/2차_최종_최근_상대_팀타자.csv', encoding='utf-8-sig')

In [ ]:
def createPa(row):
    previous = teamhitter_vs[(teamhitter_vs['시즌'] == row['시즌']) & (teamhitter_vs['팀코드'] == row['팀코드'])& (teamhitter_vs['상대팀코드'] == row['상대팀코드']) & (teamhitter_vs['일자'] < row['일자'])].tail(3)
    if len(previous) == 0:
        row['상대최근PA'] = 0
        return row
    previous_sum = previous.sum()
    up = previous_sum['타자'] 
    down = len(previous)
    if down == 0:
        row['상대최근PA'] = 0
        return row
    row['상대최근PA'] = up / down
    return row

def createAB(row):
    previous = teamhitter_vs[(teamhitter_vs['시즌'] == row['시즌']) & (teamhitter_vs['팀코드'] == row['팀코드'])& (teamhitter_vs['상대팀코드'] == row['상대팀코드']) & (teamhitter_vs['일자'] < row['일자'])].tail(3)
    if len(previous) == 0:
        row['상대최근AB'] = 0
        return row
    previous_sum = previous.sum()
    up = previous_sum['타수'] 
    down = len(previous)
    if down == 0:
        row['상대최근AB'] = 0
        return row
    row['상대최근AB'] = up / down
    return row

def createHit(row):
    previous = teamhitter_vs[(teamhitter_vs['시즌'] == row['시즌']) & (teamhitter_vs['팀코드'] == row['팀코드'])& (teamhitter_vs['상대팀코드'] == row['상대팀코드']) & (teamhitter_vs['일자'] < row['일자'])].tail(3)
    if len(previous) == 0:
        row['상대최근HIT'] = 0
        return row
    previous_sum = previous.sum()
    up = previous_sum['안타'] 
    down = len(previous)
    if down == 0:
        row['상대최근HIT'] = 0
        return row
    row['상대최근HIT'] = up / down
    return row

def createB1B(row):
    previous = teamhitter_vs[(teamhitter_vs['시즌'] == row['시즌']) & (teamhitter_vs['팀코드'] == row['팀코드'])& (teamhitter_vs['상대팀코드'] == row['상대팀코드']) & (teamhitter_vs['일자'] < row['일자'])].tail(3)
    if len(previous) == 0:
        row['상대최근B1B'] = 0
        return row
    previous_sum = previous.sum()
    up = previous_sum['단타'] 
    down = len(previous)
    if down == 0:
        row['상대최근B1B'] = 0
        return row
    row['상대최근B1B'] = up / down
    return row

def createB2B(row):
    previous = teamhitter_vs[(teamhitter_vs['시즌'] == row['시즌']) & (teamhitter_vs['팀코드'] == row['팀코드'])& (teamhitter_vs['상대팀코드'] == row['상대팀코드']) & (teamhitter_vs['일자'] < row['일자'])].tail(3)
    if len(previous) == 0:
        row['상대최근B2B'] = 0
        return row
    previous_sum = previous.sum()
    up = previous_sum['2루타'] 
    down = len(previous)
    if down == 0:
        row['상대최근B2B'] = 0
        return row
    row['상대최근B2B'] = up / down
    return row

def createB3B(row):
    previous = teamhitter_vs[(teamhitter_vs['시즌'] == row['시즌']) & (teamhitter_vs['팀코드'] == row['팀코드'])& (teamhitter_vs['상대팀코드'] == row['상대팀코드']) & (teamhitter_vs['일자'] < row['일자'])].tail(3)
    if len(previous) == 0:
        row['상대최근B3B'] = 0
        return row
    previous_sum = previous.sum()
    up = previous_sum['3루타'] 
    down = len(previous)
    if down == 0:
        row['상대최근B3B'] = 0
        return row
    row['상대최근B3B'] = up / down
    return row

def createBB(row):
    previous = teamhitter_vs[(teamhitter_vs['시즌'] == row['시즌']) & (teamhitter_vs['팀코드'] == row['팀코드'])& (teamhitter_vs['상대팀코드'] == row['상대팀코드']) & (teamhitter_vs['일자'] < row['일자'])].tail(3)
    if len(previous) == 0:
        row['상대최근BB'] = 0
        return row
    previous_sum = previous.sum()
    up = previous_sum['4구'] - previous_sum['고4'] 
    down = len(previous)
    if down == 0:
        row['상대최근BB'] = 0
        return row
    row['상대최근BB'] = up / down
    return row
def createHR(row):
    previous = teamhitter_vs[(teamhitter_vs['시즌'] == row['시즌']) & (teamhitter_vs['팀코드'] == row['팀코드'])& (teamhitter_vs['상대팀코드'] == row['상대팀코드']) & (teamhitter_vs['일자'] < row['일자'])].tail(3)
    if len(previous) == 0:
        row['상대최근HR'] = 0
        return row
    previous_sum = previous.sum()
    up = previous_sum['홈런']
    down = len(previous)
    if down == 0:
        row['상대최근HR'] = 0
        return row
    row['상대최근HR'] = up / down
    return row

def createK(row):
    previous = teamhitter_vs[(teamhitter_vs['시즌'] == row['시즌']) & (teamhitter_vs['팀코드'] == row['팀코드'])& (teamhitter_vs['상대팀코드'] == row['상대팀코드']) & (teamhitter_vs['일자'] < row['일자'])].tail(3)
    if len(previous) == 0:
        row['상대최근K'] = 0
        return row
    previous_sum = previous.sum()
    up = previous_sum['삼진']
    down = len(previous)
    if down == 0:
        row['상대최근K'] = 0
        return row
    row['상대최근K'] = up / down
    return row

def createHBP(row):
    previous = teamhitter_vs[(teamhitter_vs['시즌'] == row['시즌']) & (teamhitter_vs['팀코드'] == row['팀코드'])& (teamhitter_vs['상대팀코드'] == row['상대팀코드']) & (teamhitter_vs['일자'] < row['일자'])].tail(3)
    if len(previous) == 0:
        row['상대최근HBP'] = 0
        return row
    previous_sum = previous.sum()
    up = previous_sum['사구']
    down = len(previous)
    if down == 0:
        row['상대최근HBP'] = 0
        return row
    row['상대최근HBP'] = up / down
    return row

def createIBB(row):
    previous = teamhitter_vs[(teamhitter_vs['시즌'] == row['시즌']) & (teamhitter_vs['팀코드'] == row['팀코드'])& (teamhitter_vs['상대팀코드'] == row['상대팀코드']) & (teamhitter_vs['일자'] < row['일자'])].tail(3)
    if len(previous) == 0:
        row['상대최근IBB'] = 0
        return row
    previous_sum = previous.sum()
    up = previous_sum['고4']
    down = len(previous)
    if down == 0:
        row['상대최근IBB'] = 0
        return row
    row['상대최근IBB'] = up / down
    return row

def createGDP(row):
    previous = teamhitter_vs[(teamhitter_vs['시즌'] == row['시즌']) & (teamhitter_vs['팀코드'] == row['팀코드'])& (teamhitter_vs['상대팀코드'] == row['상대팀코드']) & (teamhitter_vs['일자'] < row['일자'])].tail(3)
    if len(previous) == 0:
        row['상대최근GDP'] = 0
        return row
    previous_sum = previous.sum()
    up = previous_sum['병살타']
    down = len(previous)
    if down == 0:
        row['상대최근GDP'] = 0
        return row
    row['상대최근GDP'] = up / down
    return row

def createHBP(row):
    previous = teamhitter_vs[(teamhitter_vs['시즌'] == row['시즌']) & (teamhitter_vs['팀코드'] == row['팀코드'])& (teamhitter_vs['상대팀코드'] == row['상대팀코드']) & (teamhitter_vs['일자'] < row['일자'])].tail(3)
    if len(previous) == 0:
        row['상대최근HBP'] = 0
        return row
    previous_sum = previous.sum()
    up = previous_sum['사구']
    down = len(previous)
    if down == 0:
        row['상대최근HBP'] = 0
        return row
    row['상대최근HBP'] = up / down
    return row
    
def createIBB(row):
    previous = teamhitter_vs[(teamhitter_vs['시즌'] == row['시즌']) & (teamhitter_vs['팀코드'] == row['팀코드'])& (teamhitter_vs['상대팀코드'] == row['상대팀코드']) & (teamhitter_vs['일자'] < row['일자'])].tail(3)
    if len(previous) == 0:
        row['상대최근IBB'] = 0
        return row
    previous_sum = previous.sum()
    up = previous_sum['고4']
    down = len(previous)
    if down == 0:
        row['상대최근IBB'] = 0
        return row
    row['상대최근IBB'] = up / down
    return row

def createSB(row):
    previous = teamhitter_vs[(teamhitter_vs['시즌'] == row['시즌']) & (teamhitter_vs['팀코드'] == row['팀코드'])& (teamhitter_vs['상대팀코드'] == row['상대팀코드']) & (teamhitter_vs['일자'] < row['일자'])].tail(3)
    if len(previous) == 0:
        row['상대최근SB'] = 0
        return row
    previous_sum = previous.sum()
    up = previous_sum['도루']
    down = len(previous)
    if down == 0:
        row['상대최근SB'] = 0
        return row
    row['상대최근SB'] = up / down
    return row

def createCS(row):
    previous = teamhitter_vs[(teamhitter_vs['시즌'] == row['시즌']) & (teamhitter_vs['팀코드'] == row['팀코드'])& (teamhitter_vs['상대팀코드'] == row['상대팀코드']) & (teamhitter_vs['일자'] < row['일자'])].tail(3)
    if len(previous) == 0:
        row['상대최근CS'] = 0
        return row
    previous_sum = previous.sum()
    up = previous_sum['도루실패']
    down = len(previous)
    if down == 0:
        row['상대최근CS'] = 0
        return row
    row['상대최근CS'] = up / down
    return row

In [ ]:
teamhitter_vs = teamhitter_vs.apply(createPa, axis=1)
teamhitter_vs = teamhitter_vs.apply(createAB, axis=1)
teamhitter_vs = teamhitter_vs.apply(createHit, axis=1)
teamhitter_vs = teamhitter_vs.apply(createB1B, axis=1)
teamhitter_vs = teamhitter_vs.apply(createB2B, axis=1)
teamhitter_vs = teamhitter_vs.apply(createB3B, axis=1)
teamhitter_vs = teamhitter_vs.apply(createBB, axis=1)
teamhitter_vs = teamhitter_vs.apply(createHR, axis=1)
teamhitter_vs = teamhitter_vs.apply(createK, axis=1)
teamhitter_vs = teamhitter_vs.apply(createHBP, axis=1)
teamhitter_vs = teamhitter_vs.apply(createIBB, axis=1)
teamhitter_vs = teamhitter_vs.apply(createGDP, axis=1)
teamhitter_vs = teamhitter_vs.apply(createSB, axis=1)
teamhitter_vs = teamhitter_vs.apply(createCS, axis=1)

In [ ]:
teamhitter_vs

                게임키          일자 팀코드  ...   상대최근GDP    상대최근SB    상대최근CS
0     20160401HHLG0  2016-04-01  LG  ...  0.000000  0.000000  0.000000
1     20160401HHLG0  2016-04-01  HH  ...  0.000000  0.000000  0.000000
2     20160401HTNC0  2016-04-01  NC  ...  0.000000  0.000000  0.000000
3     20160401HTNC0  2016-04-01  HT  ...  0.000000  0.000000  0.000000
4     20160401KTSK0  2016-04-01  SK  ...  0.000000  0.000000  0.000000
...             ...         ...  ..  ...       ...       ...       ...
6326  20200719LTSS0  2020-07-19  LT  ...  1.000000  1.333333  0.000000
6327  20200719OBHT0  2020-07-19  HT  ...  1.000000  0.000000  0.666667
6328  20200719OBHT0  2020-07-19  OB  ...  1.333333  1.000000  0.333333
6329  20200719WOSK0  2020-07-19  SK  ...  0.333333  0.000000  0.333333
6330  20200719WOSK0  2020-07-19  WO  ...  0.000000  4.000000  0.333333

[6331 rows x 64 columns]

In [9]:
teamhitter_vs.to_csv('./gdrive/My Drive/빅콘테스트2020/2차_최종_최근_상대_팀타자(메트릭스 지표 추출).csv', encoding='utf-8-sig', index=False)

In [10]:
import pandas as pd
teamhitter_vs = pd.read_csv('./gdrive/My Drive/빅콘테스트2020/2차_최종_최근_상대_팀타자(메트릭스 지표 추출).csv', encoding='utf-8-sig')

In [6]:
teamhitter_vs.columns
teamhitter_vs = teamhitter_vs.drop(labels = ['게임키', '일자', '팀코드', '상대팀코드', '더블헤더코드', '초말', '타자', '타수', '타점','안타', '2루타', '3루타', '홈런', '도루', '도루실패', '희타', '희비', '4구', '고4', '사구',
       '삼진', '병살타', '실책', '잔루', '득점권타율', '득점권타수', '득점권안타', '시즌', '단타' ],axis=1)

In [11]:
teamhitter_vs.columns

Index(['득점', '상대최근OBP', '상대최근SLG', '상대최근ops', '상대최근타율', '상대최근ISO', '상대최근BABIP',
       '상대최근BB/K', '상대최근K%', '상대최근BB%', '상대최근wOBA', '상대최근wRAA', '상대최근wRC',
       '상대최근HR%', '상대최근GPA', '상대최근RC', '상대최근RC27', '상대최근XR', '상대최근SPD',
       '상대최근SecA', '상대최근PSN', '상대최근PA', '상대최근AB', '상대최근HIT', '상대최근B1B',
       '상대최근B2B', '상대최근B3B', '상대최근BB', '상대최근HR', '상대최근K', '상대최근HBP', '상대최근IBB',
       '상대최근GDP', '상대최근SB', '상대최근CS'],
      dtype='object')