<a href="https://colab.research.google.com/github/CHO-MINJUNG/BigContest2020/blob/master/%EC%8B%9C%EA%B3%84%EC%97%B4%EC%98%88%EC%B8%A1_%EB%AA%A8%EB%8D%B8_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
from google.colab import auth
auth.authenticate_user()

from google.colab import drive
drive.mount('/content/gdrive', force_remount=False)

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [15]:
import pandas as pd
import numpy as np
teamhitter = pd.read_csv('./gdrive/My Drive/빅콘테스트2020/AfterMay_DF/hitter_r_vs.csv', encoding='utf-8-sig')

In [16]:
import tensorflow as tf
from tensorflow.keras import layers

print('tensorflow version: {}'.format(tf.__version__))
print('GPU 사용 가능 여부: {}'.format(tf.test.is_gpu_available()))

tensorflow version: 2.3.0
GPU 사용 가능 여부: False

In [17]:
teamhitter.head(30)

    index            게임키          일자  ...  상대최근득점권타수 상대최근득점권안타  상대최근득점권타율
0     297  20160511KTHT0  2016-05-11  ...   7.666667  2.333333   0.304348
1     298  20160511KTHT0  2016-05-11  ...  12.333333  2.666667   0.216216
2     299  20160511NCHH0  2016-05-11  ...   6.000000  1.333333   0.222222
3     300  20160511NCHH0  2016-05-11  ...  10.000000  2.666667   0.266667
4     301  20160511OBSK0  2016-05-11  ...   7.666667  1.666667   0.217391
5     302  20160511OBSK0  2016-05-11  ...   8.000000  1.666667   0.208333
6     303  20160511SSLG0  2016-05-11  ...   9.000000  3.333333   0.370370
7     304  20160511WOLT0  2016-05-11  ...  12.333333  2.666667   0.216216
8     305  20160512KTHT0  2016-05-12  ...  12.333333  4.333333   0.351351
9     306  20160512KTHT0  2016-05-12  ...  10.666667  2.666667   0.250000
10    307  20160512NCHH0  2016-05-12  ...   8.333333  2.333333   0.280000
11    308  20160512NCHH0  2016-05-12  ...   8.666667  3.000000   0.346154
12    309  20160512OBSK0  2016-05-12  ...   8.666667  2.333333   0.269231
13    310  20160512OBSK0  2016-05-12  ...   7.000000  1.666667   0.238095
14    311  20160512SSLG0  2016-05-12  ...   7.333333  2.000000   0.272727
15    312  20160512SSLG0  2016-05-12  ...  11.666667  4.333333   0.371429
16    313  20160512WOLT0  2016-05-12  ...   9.666667  3.000000   0.310345
17    314  20160512WOLT0  2016-05-12  ...   9.000000  2.666667   0.296296
18    315  20160513HHHT0  2016-05-13  ...   7.500000  1.000000   0.133333
19    316  20160513HHHT0  2016-05-13  ...   7.500000  1.500000   0.200000
20    317  20160513KTNC0  2016-05-13  ...  14.000000  6.000000   0.428571
21    318  20160513KTNC0  2016-05-13  ...   9.000000  2.000000   0.222222
22    319  20160513LTSS0  2016-05-13  ...   8.333333  2.333333   0.280000
23    320  20160513LTSS0  2016-05-13  ...  11.000000  3.000000   0.272727
24    321  20160513OBWO0  2016-05-13  ...  10.000000  3.333333   0.333333
25    322  20160513OBWO0  2016-05-13  ...  12.000000  4.000000   0.333333
26    323  20160513SKLG0  2016-05-13  ...   5.333333  0.666667   0.125000
27    324  20160513SKLG0  2016-05-13  ...   4.666667  1.000000   0.214286
28    325  20160514HHHT0  2016-05-14  ...   8.000000  1.000000   0.125000
29    326  20160514HHHT0  2016-05-14  ...   6.000000  1.333333   0.222222

[30 rows x 68 columns]

In [18]:
teamhitter = teamhitter[['팀코드', '득점','상대최근OBP', '상대최근SLG', '상대최근ops', '상대최근타율', '상대최근ISO', '상대최근BABIP',
       '상대최근BB/K', '상대최근K%', '상대최근BB%', '상대최근wOBA', '상대최근wRAA', '상대최근wRC',
       '상대최근HR%', '상대최근GPA', '상대최근RC', '상대최근RC27', '상대최근XR', '상대최근SPD',
       '상대최근SecA', '상대최근PSN']]

In [26]:
teamhitterNC = teamhitter[teamhitter['팀코드']=='NC']
teamhitterNC.reset_index(drop=True)
scoreNC = teamhitterNC['득점']
del teamhitterNC['득점']
del teamhitterNC['팀코드']

teamhitterSK = teamhitter[teamhitter['팀코드']=='SK']
teamhitterSK.reset_index(drop=True)
scoreSK = teamhitterSK['득점']
del teamhitterSK['득점']

teamhitterKT = teamhitter[teamhitter['팀코드']=='KT']
teamhitterKT.reset_index(drop=True)
scoreKT = teamhitterKT['득점']
del teamhitterKT['득점']

teamhitterHT = teamhitter[teamhitter['팀코드']=='HT']
teamhitterHT.reset_index(drop=True)
scoreHT = teamhitterHT['득점']
del teamhitterHT['득점']

teamhitterLT = teamhitter[teamhitter['팀코드']=='LT']
teamhitterLT.reset_index(drop=True)
scoreLT = teamhitterLT['득점']
del teamhitterLT['득점']

teamhitterWO = teamhitter[teamhitter['팀코드']=='WO']
teamhitterWO.reset_index(drop=True)
scoreWO = teamhitterWO['득점']
del teamhitterWO['득점']

teamhitterOB = teamhitter[teamhitter['팀코드']=='OB']
teamhitterOB.reset_index(drop=True)
scoreOB = teamhitterOB['득점']
del teamhitterOB['득점']

teamhitterHH = teamhitter[teamhitter['팀코드']=='HH']
teamhitterHH.reset_index(drop=True)
scoreHH = teamhitterHH['득점']
del teamhitterHH['득점']

teamhitterLG = teamhitter[teamhitter['팀코드']=='LG']
teamhitterLG.reset_index(drop=True)
scoreLG = teamhitterLG['득점']
del teamhitterLG['득점']

teamhitterSS = teamhitter[teamhitter['팀코드']=='SS']
teamhitterSS.reset_index(drop=True)
scoreSS = teamhitterSS['득점']
del teamhitterSS['득점']

In [27]:
NCtrain =list( teamhitterNC.values.tolist() ) 
NCtrain_x = np.array(NCtrain)
NCtrain_y = np.array(scoreNC.values.tolist())

In [28]:
NCtrain_x = NCtrain_x.reshape(NCtrain_x.shape[0],NCtrain_x.shape[1],1)
NCtrain_x.shape

(490, 20, 1)

In [32]:
from keras.models import Sequential
from keras.layers import Dense, SimpleRNN, LSTM
model = Sequential()

model.add(LSTM(128, input_shape = (21,1), activation = 'relu'))
model.add(Dense(64))
model.add(Dense(1))

model.summary()

model.compile(loss='mse', optimizer = 'adam', metrics = ['mse'])
model.fit(NCtrain_x, NCtrain_y, epochs = 30, batch_size=9)

Model: "sequential_8"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
lstm_8 (LSTM)                (None, 128)               66560
_________________________________________________________________
dense_16 (Dense)             (None, 64)                8256
_________________________________________________________________
dense_17 (Dense)             (None, 1)                 65
=================================================================
Total params: 74,881
Trainable params: 74,881
Non-trainable params: 0
_________________________________________________________________
Epoch 1/30
WARNING:tensorflow:Model was constructed with shape (None, 21, 1) for input Tensor("lstm_8_input:0", shape=(None, 21, 1), dtype=float32), but it was called on an input with incompatible shape (None, 20, 1).
WARNING:tensorflow:Model was constructed with shape (None, 21, 1) for input Tensor("lstm_8_input:0", shape=(None, 21, 1), dtype=float32), but it was called on an input with incompatible shape (None, 20, 1).
55/55 [==============================] - 1s 15ms/step - loss: 16.3838 - mse: 16.3838
Epoch 2/30
55/55 [==============================] - 1s 15ms/step - loss: 13.2343 - mse: 13.2343
Epoch 3/30
55/55 [==============================] - 1s 15ms/step - loss: 12.9148 - mse: 12.9148
Epoch 4/30
55/55 [==============================] - 1s 15ms/step - loss: 12.7077 - mse: 12.7077
Epoch 5/30
55/55 [==============================] - 1s 15ms/step - loss: 12.7098 - mse: 12.7098
Epoch 6/30
55/55 [==============================] - 1s 15ms/step - loss: 12.3996 - mse: 12.3996
Epoch 7/30
55/55 [==============================] - 1s 15ms/step - loss: 12.5004 - mse: 12.5004
Epoch 8/30
55/55 [==============================] - 1s 15ms/step - loss: 12.3645 - mse: 12.3645
Epoch 9/30
55/55 [==============================] - 1s 14ms/step - loss: 12.3661 - mse: 12.3661
Epoch 10/30
55/55 [==============================] - 1s 15ms/step - loss: 12.3890 - mse: 12.3890
Epoch 11/30
55/55 [==============================] - 1s 15ms/step - loss: 12.4352 - mse: 12.4352
Epoch 12/30
55/55 [==============================] - 1s 15ms/step - loss: 12.5369 - mse: 12.5369
Epoch 13/30
55/55 [==============================] - 1s 15ms/step - loss: 12.3541 - mse: 12.3541
Epoch 14/30
55/55 [==============================] - 1s 15ms/step - loss: 12.3211 - mse: 12.3211
Epoch 15/30
55/55 [==============================] - 1s 15ms/step - loss: 12.3757 - mse: 12.3757
Epoch 16/30
55/55 [==============================] - 1s 15ms/step - loss: 12.4404 - mse: 12.4404
Epoch 17/30
55/55 [==============================] - 1s 15ms/step - loss: 12.3501 - mse: 12.3501
Epoch 18/30
55/55 [==============================] - 1s 15ms/step - loss: 12.1658 - mse: 12.1658
Epoch 19/30
55/55 [==============================] - 1s 14ms/step - loss: 12.4772 - mse: 12.4772
Epoch 20/30
55/55 [==============================] - 1s 15ms/step - loss: 12.2564 - mse: 12.2564
Epoch 21/30
55/55 [==============================] - 1s 15ms/step - loss: 12.4442 - mse: 12.4442
Epoch 22/30
55/55 [==============================] - 1s 15ms/step - loss: 12.2905 - mse: 12.2905
Epoch 23/30
55/55 [==============================] - 1s 15ms/step - loss: 12.2707 - mse: 12.2707
Epoch 24/30
55/55 [==============================] - 1s 15ms/step - loss: 12.3243 - mse: 12.3243
Epoch 25/30
55/55 [==============================] - 1s 16ms/step - loss: 12.5954 - mse: 12.5954
Epoch 26/30
55/55 [==============================] - 1s 15ms/step - loss: 12.3488 - mse: 12.3488
Epoch 27/30
55/55 [==============================] - 1s 15ms/step - loss: 12.2588 - mse: 12.2588
Epoch 28/30
55/55 [==============================] - 1s 15ms/step - loss: 12.2798 - mse: 12.2798
Epoch 29/30
55/55 [==============================] - 1s 15ms/step - loss: 12.1878 - mse: 12.1878
Epoch 30/30
55/55 [==============================] - 1s 15ms/step - loss: 12.3024 - mse: 12.3024

In [33]:
loss, acc = model.evaluate(NCtrain_x, NCtrain_y)
print("학습 후 모델의 loss: {:.5f}".format(loss))
print("학습 후 모델의 정확도: {:5.2f}%".format(100*acc))

WARNING:tensorflow:Model was constructed with shape (None, 21, 1) for input Tensor("lstm_8_input:0", shape=(None, 21, 1), dtype=float32), but it was called on an input with incompatible shape (None, 20, 1).
16/16 [==============================] - 0s 7ms/step - loss: 12.2826 - mse: 12.2826
학습 후 모델의 loss: 12.28262
학습 후 모델의 정확도: 1228.26%

In [ ]:
batch_size = 9
max_epochs = 30
learning_rate = 4e-5
hidden_sizes = [128, 128]

In [31]:
teamhitter.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4879 entries, 0 to 4878
Data columns (total 22 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   팀코드        4879 non-null   object
 1   득점         4879 non-null   int64
 2   상대최근OBP    4879 non-null   float64
 3   상대최근SLG    4879 non-null   float64
 4   상대최근ops    4879 non-null   float64
 5   상대최근타율     4879 non-null   float64
 6   상대최근ISO    4879 non-null   float64
 7   상대최근BABIP  4879 non-null   float64
 8   상대최근BB/K   4879 non-null   float64
 9   상대최근K%     4879 non-null   float64
 10  상대최근BB%    4879 non-null   float64
 11  상대최근wOBA   4879 non-null   float64
 12  상대최근wRAA   4879 non-null   float64
 13  상대최근wRC    4879 non-null   float64
 14  상대최근HR%    4879 non-null   float64
 15  상대최근GPA    4879 non-null   float64
 16  상대최근RC     4879 non-null   float64
 17  상대최근RC27   4879 non-null   float64
 18  상대최근XR     4879 non-null   float64
 19  상대최근SPD    4879 non-null   float64
 20  상대최근SecA   4879 non-null   float64
 21  상대최근PSN    4879 non-null   float64
dtypes: float64(20), int64(1), object(1)
memory usage: 838.7+ KB

In [ ]:
def preprocess():
  # 1차_최종_공통 : 시즌, 홈어웨이, 경기간간격, 득점, 실점, 승패
  general = pd.read_csv('./gdrive/My Drive/빅콘테스트2020/1차_최종_데이터/1차_최종_공통.csv')
  general = general[general['팀코드']=='NC']
  general = general[['게임키', '경기간간격','득점','실점','결과']]
  general['시즌'] = general['게임키'].apply(lambda x:int(x[:4]))
  general['홈어웨이'] = general['게임키'].apply(lambda x:0 if x[-3:-1]=='NC' else 1)
  general=general.set_index('게임키')
  # 팀타자 : 기준팀 wRC
  hitter = teamhitter
  hitter_vs = hitter[hitter['상대팀코드']=='NC']
  hitter = hitter[hitter['팀코드']=='NC']
  hitter = hitter[['게임키', '상대최근RC']]
  hitter_vs = hitter_vs[['게임키', '상대최근RC']]
  hitter=hitter.set_index('게임키')
  hitter_vs=hitter_vs.set_index('게임키')
  hitter_vs=hitter_vs.add_prefix('vs_')
  df = pd.concat([general, hitter,hitter_vs], axis=1)
  df= df[['시즌','경기간간격','홈어웨이','상대최근RC','vs_상대최근RC','득점','실점','결과']]
  df['결과'] = df['결과'].apply(lambda x : 0 if x =='W' else 1)
  return df

In [ ]:
df = preprocess()
df.head()

                 시즌  경기간간격  홈어웨이    상대최근RC  vs_상대최근RC  득점  실점  결과
20160401HTNC0  2016    0.0     0  0.000000   0.000000   5   4   0
20160402HTNC0  2016    1.0     0  6.229478   4.187754   3   4   1
20160405NCOB0  2016    3.0     1  0.000000   0.000000   2   6   1
20160406NCOB0  2016    1.0     1  1.818505   5.305242   0   2   1
20160407NCOB0  2016    1.0     1  0.241434   6.986094   8   2   0

In [ ]:
def create_dataset(signal_data, look_back=1):
    dataX, dataY = [], []
    for i in range(len(signal_data)-look_back):
        dataX.append(signal_data[i:(i+look_back), 0])
        dataY.append(signal_data[i + look_back, 0])
    return np.array(dataX), np.array(dataY)